header, footer {
    height: 50px;
}

main {
    max-width: 800px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.intro p {
    text-align: justify;
    hyphens: auto;
}

.card-body {
    text-align: justify;
    hyphens: auto;
}

.card-date {
    float: right;
}

.card {
    margin-bottom: 0.75rem;
}
