main {
    max-width: 800px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    max-height: 100%;
}

p {
    text-align: justify;
    hyphens: auto;
    margin-bottom: 0.75rem;
}

p:last-child {
    margin-bottom: 0;
}

.profile-picture {
    padding-right: 1rem;
}

@media (max-width: 600px) {
    .container {
        padding: 1rem;
    }

    .profile-picture-container {
        text-align: center;
    }

    .profile-picture {
        padding-right: 0;
        max-width: 250px;
        padding-bottom: 2rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    h3 {
        padding-top: 2.25rem;
    }
}

@media (min-width: 601px) {
    header, footer {
        height: 50px;
    }

    .column {
        padding-top: 1.2rem;
    }
}

.card {
    margin-bottom: 0.75rem;
    border-top: 7px solid;
}

.card:last-child {
    margin-bottom: 0;
}

.card-header {
    font-size: 1rem;
    display: flex;
    flex-wrap: wrap;
}

.card-date {
    margin-left: auto;
}

.card-subtitle {
    width: 100%;
    font-size: 0.8rem;
    color: #bcc3ce;
}

@media (max-width: 700px) {
    .card-date {
        order: -1;
        width: 100%;
        font-size: 0.7rem;
        font-weight: 600;
    }
}

.card-body {
    text-align: justify;
    hyphens: auto;
}

.card--gray {
    border-top-color: rgba(0, 0, 0, 0.5);
}

.card--tu-green {
    border-top-color: rgba(99, 154, 0, 0.7);
}

.card--orange-red {
    border-top-color: rgba(221, 76, 60, 0.75);
}

.card--purple {
    border-top-color: rgba(93, 16, 168, 0.6);
}

.card--blue {
    border-top-color: rgba(46, 134, 193, 0.75);
}

.card--teal {
    border-top-color: rgba(0, 128, 128, 0.75);
}
